* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout_img {
  background-image: url("../../assets/images/aboutbg.png");
  background-repeat: no-repeat;
  background-position: 60%;
  height: 50vh;
  margin-top: -170px;
  width: 100%;
}

.layout_hero {
  padding: 3rem;
  flex-direction: column;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 6rem;
  margin-top: 23vh;
  font-size: 5rem;
}
.layout_section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.layout_hero_content {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.layout_content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex-grow: 1;
  width: 100%;
}
.layout_content_right {
  padding-top: 4rem;
}
.layout_title {
  font-size: 18px;
}
.layout_heading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.1;
}
.gradient {
  background: linear-gradient(90deg, #f5fbf3 0%, #99d2ff 100%, #5ca9f9 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.layout_para {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}
.layout_img_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.about_img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
