* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2.5rem;
}
.team_img {
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.team_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
