.fotter_features {
  background: url("../../assets/images/footer.svg") no-repeat center
    center/cover;
  padding: 2rem 8rem;
}
.footer_para {
  font-size: 14px;
  color: #9ca3af;
}
.footer_container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.footer_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_links {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 0.5rem 2rem;
}
.footer_list {
  margin-top: 0;
}

ul,
h5 {
  margin: 0;
}
.list_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-link {
  display: flex;
}
.copyright-link {
  gap: 0.5rem;
  outline: none;
  border: none;
  text-decoration: none;

  font-weight: 400;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-top: 3rem;
  border-top: 1px solid #ddd;
}
