@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*************  ✨ Windsurf Command 🌟  *************/
* {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  font-family: Figtree, sans-serif;
  color: #fff;
  background: #000 !important;
  overflow-x: hidden;
}

.section {
  width: 83%;
  margin: 0 auto;
  align-items: center;
}
.titles {
  padding: 2rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.heading {
  font-size: 3.5rem;
  font-weight: 600;

  background: linear-gradient(90deg, #f5fbf3 0%, #99d2ff 100%, #5ca9f9 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.4;
}
.description {
  font-size: 16px;
  color: rgb(144 157 193 / var(--tw-text-opacity, 1));
  text-align: center;
}
